
header, section, body, footer {
	width: 1024px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	
	
 }
	body {
  text-align: center;
}


#myVideo,
myVideo2 {
  position: fixed;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 130vh;
  object-fit: cover;
  z-index: -1;
  background-color: transparent;
}

#myVideo2 {
 display: none;
}

#botonera {
  width: 80vw; /* Ejemplo de ancho usando vw */
  height: 10vh; /* Ejemplo de alto usando vh */
  display: flex;
  justify-content: center; 
	position: fixed;
  top: 8%;
  left: 46%;
  transform: translate(-50%, -50%);
   object-fit: cover;
  background-color: transparent;
}

#botonera li {
  /* Estilos para los elementos de la lista */
  display: inline-block;
  /* Ajusta el tamaño de las imágenes según sea necesario */
  height: 4.5vh; /* Ejemplo de alto usando vh */
  /* Agrega margen para separar los elementos */
  margin: 0vh;
}

#botonera li a img {
  /* Estilos para las imágenes */
  width: 100%; /* Ocupa todo el ancho del elemento padre */
  height: 100%; /* Ocupa todo el alto del elemento padre */
}

#contacto {
  
    background-image: linear-gradient(-45deg, #e3ddd9 50%, #000000 50%);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background-size: cover;

}

#contacto #botonera {

  position: fixed;
  left: 74%;
margin-top:3%;
  margin-right: 50%; /* Mueve el elemento a la der*/


}
.yo {
   float: left;
  margin-left: -7%;
  margin-top: 5%;

  
}


#informacion {
	font-family: 'Montserrat';
    font-weight: bold;
 position: absolute;
  top: 69%;
  left: 73%;
  transform: translate(-50%, -50%);
  font-size: 160%; 
   text-align: left; 
  margin-top: 0px; /* Espacio superior */
   align-items: center;
line-height: 0;
  
}


#informacion article {
  display: inline-block; /* Elementos mostrados en línea */
  margin-right: 7px; /* Espacio entre elementos */


}

#informacion article a {
  vertical-align: 20px; /* Alinea el texto al medio de la imagen (opcional) */
}

   @media all and (min-width: 155px) and (max-width: 1023px) {
#informacion {
 font-size: 100%;
}


#informacion article {
  width: 100%;
  height: 40%;
}


#informacion article wsp{
  width: 60%;
  height: 60%;
}

#informacion article Linkedin{
   width: 60%;
  height: 60%;
}

#informacion article email{
 width: 60%;
  height: 60%;
}


}