header, section, body, footer {
	width: 1024px;
	height: auto;
	margin-right: auto;
	margin-left: auto;
	
	
 }
	body {
  text-align: center;
}


#myVideo {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  z-index: -1;
  background-color: transparent;
}

#botonera {
	width: auto;
}

#botonera ul li {
	display: inline;
}
#botonera ul li a {
	text-decoration: none;
	font-weight: bold;
	padding: 100px;

}
#botonera ul li a img {

	width: 100px;
	height: auto;
}

.book {
  width: 400px;
  height: 300px;
  perspective: 1000px;
}


.book section {
  position: absolute;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  transform-style: preserve-3d;
  transition: transform 1s;
}


#contacto {
		background-image: url("contac2.jpg");
		width: 1024px;
		height: 700px;
		background-position: center; 
		background-repeat: no-repeat;
		background-size: 1024px; 
}




	

@media all and (min-width: 960px) and (max-width: 1023px) {

header, section, body, footer {
	width: 959px;
	margin-left: 0px;
	
 }

#botonera {
	width: auto;
}

#botonera ul li {
	display: block;
}


#botonera ul li a {
	text-decoration: none;
	font-weight: bold;
	padding: 50px;

}
#botonera ul li a img {

	width: 150px;
	height: auto;
	padding-top: 45px;
}



	
	
	
	
}  /* fin media 961 a 1023px */


@media all and (min-width: 480px) and (max-width: 959px) {
	
	header, section, body, footer {
	width: 480px;
	
 }

#botonera {
	width: auto;
}

#botonera ul li {
	display: block;
}


#botonera ul li a {
	text-decoration: none;
	font-weight: bold;
	padding: 30px;

}
#botonera ul li a img {

	width: 100px;
	height: auto;
	padding-top: 45px;
}



@media all and (min-width: 320px) and (max-width: 479px) {
	
	header, section, body, footer {
	width: 320px;
	
 }

#botonera {
	width: auto;
	
}

#botonera ul li {
	display: block;

}


#botonera ul li a {
	text-decoration: none;
	font-weight: bold;
	padding: 0px;

}

#botonera ul li a img {

	width: 50px;
	height: auto;
	padding: 8px;
	margin-left: 0px;
}




@media all and (max-width: 319px) { 
	
	header, section, body, footer {
	width: 240px;
	
 }

#botonera {
	width: auto;
	
}

#botonera ul li {
	display: block;

}


#botonera ul li a {
	text-decoration: none;
	font-weight: bold;
	padding: 0px;

}

#botonera ul li a img {

	width: 40px;
	height: auto;
	padding: 5px;
	margin-left: 0px;
}
